

.banner{
	background-image: url(../img/fondo-banner.png);
	height: 492px;
	


.texto {
	font-size: 30px;
}

.fondo{
	padding: 0px;
	margin: 0px;
}

.recomendado {
	background-image: url(../img/fondo.png);

}

.nav a {
	text-decoration: none;

}

aside{
	background-color: #11056B;
	height: 492px;
	margin: 20px;

}

.lateralizq{
	
}


article { margin: 20px 20px;
	padding: 10px;
	
}


figure{
	margin: 20px;
}

figcaption {

}

form {
	
}

input {
	
}

.search{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

button {
	
}