*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.banner{
	background-image: url(../img/fondo-banner.png);
	height: 492px;
	display flex: 
	}

.cuenta{
	padding-top: 20px;
}

.registro{
	color: #FFFFFF;
	font-size: 16px;
    text-align: right;
}

.nav{
	padding-top: 100px;
}



.nav a {
	text-decoration: none;
	}

.recomendado {
	background-image: url(../img/fondo.png);
}

aside{
	background-color: #002245;
	height: 355px;

}

.slider{
		display: flex;
	justify-content: center;
	padding-top: 30px;
}






figcaption {
	display: flex;}	

.pie{
color:#FFFFFF;
display: inline-block;
margin-top: 13px;
}

.pie2{color:#FFFFFF;
display: inline-block;
font-size: 25px;
}

.cantidad{
	margin-top: 5px;
	margin-left: 47px;
	margin-bottom: 5px;
}


.precio {color:#FFFFFF;
	
}

.boton{
	background-color:#04A1A5;
	border: 0px; 
	color: #FFFFFF;
	margin-left: 61px;
}








input {
	
}

.comprar{
	margin-left: 45px;
}



.buscador{display:flex;

} 

.search{
	flex-direction: row;
	margin: 0px 10px;
	
}

button {
	
}